body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(246, 242, 169);
}
s
.content {
    margin: 0 auto;
    width: 400px;
    font-family: Georgia;
}

.body {
    font-family: Avantgarde;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

.topnav {
    background-color: #8d8ef5;
    overflow: hidden;
}
  
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: orange;
    color: black;
}
  
.topnav a.active {
    background-color: yellow;
    color: rgb(0, 0, 0);
}